body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-size: 18px;
    line-height: 27px;
}
.page{
    width: 80%;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    display: flex;
}
.header-logo{
    margin: auto 0;
    margin-left: 60px;
    margin-right: 12px;
}
.logo{
    border-radius: 50%;
    position: relative;
    animation-name: logo_animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
@keyframes logo_animation {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}
.navigation{
    margin-left: auto;
}
.navigation-list{
    padding: 0;
    margin: 0;
    margin-right: 72px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    animation-name: navigation_animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
@keyframes navigation_animation {
    from {
        left: 1000px;
    }
    to {
        left: 0;
    }
}
.list-item{
    padding: 34px 24px;

}
.link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.active{
    border: 2px solid blueviolet;
    border-radius: 20%;
}
.hero{
    display: flex;
    padding: 200px 72px;
    background-image: url("./img/torus.gif");
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}
.hero-content{
    position: relative;
    max-width: 400px;
    margin: auto auto;
    animation-name: hero_animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    margin-right: 10px;
    border-radius: 10%;
}
@keyframes hero_animation {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}
.hero-title{
    font-size: 38px;
    line-height: 40px;
}
.hero-description{
    font-size: 18px;
    line-height: 27px;
}
.heroContainerImg{
    position: relative;
    margin: auto;
    background-image: url("./img/myphoto.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    border: thick double rgb(80, 80, 192);
    border-radius: 50%;
    animation-name: heroContainerImg_animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes heroContainerImg_animation {
    from {
        left: 1000px;
    }
    to {
        left: 0;
    }
}
.workExpContent{
    position: relative;
    max-width: 700px;
    margin-bottom: 40px;
    animation-name: workExp_animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.workExp{
    border-top: 2px dashed;
    padding: 20px 72px;
}
@keyframes workExp_animation {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}
.workExpDescription{
    color:rgba(132, 145, 160, 1);
    font-size: 16px;
}
.workExpTitle{
    font-size: 55px;
    line-height: 66.17px;
    margin: 0;

}
.workExpCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card-title{
    font-size: 117px;
    line-height: 140.77px;
    margin: 0;
    color: rgba(132, 145, 160, 1);
}
.card-exp{
    font-size: 24px;
    line-height: 36px;
}
.span-green{
    color: green;
}
.span-red{
    color: red;
}
.span-yellow{
    color: yellow;
}
.card-desctiption{
    color:rgb(138, 138, 95);
    font-size: 16px;
}
.frame10{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.frame10Content{
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 0.667rem + 11.11vw, 1.5rem) clamp(1rem, 0.808rem + 15.38vw, 1.5rem);
    color: black;
    background-color: bisque;
}
.frame10:hover .frame10Content{
    transition: all 0.5s;
    order: 0;
}
.frame10:hover .frame10ImgContent{
    transition: all 0.5s;
    order: -1;
}
.frame10ImgContent{
    width: 100%;
}
.frame10Title{
    font-size: 55px;
    line-height: 66.17px;
}
.frame10Description{
    color: rgba(91, 104, 118, 1);
    line-height: 27px;

}
.frame10Link{
    margin-top: auto;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid;
    width: max-content;
    font-size: 16px;
}
.frame10Img{
    height: 100%;
    width: 100%;
}
.skill{
    display: grid;
    padding: 120px 72px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.skillBox-1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.skillTitleOne{
    font-size: 55px;
    line-height: 66.17px;
}
.skillTitle{
    font-size: 24px;
    line-height: 36px;
}
.skillDescriptionOne{
    line-height: 27px;
    color: rgba(132, 145, 160, 1);
}
.skillDescription{
    font-size: 16px;
    line-height: 24px;
    color: rgba(132, 145, 160, 1);
}

.frame27{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.frame27Logo{

    text-align: center;
    border: 1px solid rgba(24, 24, 35, 1);
    margin: 0;
}
.frame27Logo img{
    position: relative;
    padding: 40px 0;
    top: 0;
}
.frame27Logo:hover img{

    animation-name: frame27Logo_img_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
}
@keyframes frame27Logo_img_animation {
    0% {
        top: 0;
    }
    25% {
        top: 40%;
    }
    50%{
        top: -30%;
    }

}
.contactInst{
    background-color: rgba(251, 228, 255, 1);
}
.frame32{
    padding: 0 72px;
}
.dribble{
    max-width: 80%;
    margin-bottom: 40px;
}
.dribbleTitle{
    font-size: 55px;
    line-height: 66.17px;
    color: rgba(255, 255, 255, 1);
}
.dribbleDescription{
    color: rgba(132, 145, 160, 1);
    line-height: 27px;
}
.dribbleLink{
    margin-top: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid;
    width: max-content;
    font-size: 20px;
}
.dribbleLink:hover{
    color: orange;
    font-size: 30px;
    transition: all 1s;
}
.dribbleImg{
    height: 100%;
    width: 100%;
}
.frame36{
    padding: 0 70px;
    gap: 24px;
}
.aboutMe{
    margin-bottom: 20px;
}
.aboutMeTitle{
    font-size: 55px;
    line-height: 66.17px;
    color: rgba(255, 255, 255, 1);
}
.aboutMeDescription{
    color: rgba(132, 145, 160, 1);
    line-height: 27px;
}
.aboutMeLink{
    margin-top: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid;
    width: max-content;
    font-size: 20px;
    transition: all 1s;
}
.aboutCard{

    border: 1px solid rgba(91, 104, 118, 1);
}
.aboutDescription{
    margin-left: 30px;
}
.aboutAthor{
    margin-left: 30px;
}
.aboutImg{
    width: 100%;
}
.startedForm{
    padding: 120px 70px;
    max-width: 700px;
    gap: 24px;
    margin: 0 auto;
}
.getStartedTitle{
    font-size: 55px;
    line-height: 66.17px;
    margin: 0;
}
.getStartedDescription{
    font-size: 18px;
    line-height: 27px;
    color: rgba(132, 145, 160, 1);
}

.formExample{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.formExample label{
    font-size: 16px;
    line-height: 24px;
}
#name{
    height: 30px;
    background-color: rgba(24, 24, 35, 1);
    border: none;
    color: white;
}
#email{
    height: 30px;
    background-color: rgba(24, 24, 35, 1);
    border: none;
    color: white;
}
#message{
    background-color: rgba(24, 24, 35, 1);
    border: none;
    resize: none;
    color: white;
}
#startSub{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 24px 32px;
    background-color: rgba(82, 33, 230, 1);
    cursor: pointer;
}
#startSub:hover{
    color:orange;
    box-shadow: 0px 0px 30px red;
}
.footer{
    padding: 80px 60px;
    background-color: rgba(24, 24, 35, 1);
}
.footer-content{
    display: flex;
}
.contact{
    margin-right: auto;
    text-align: center;

}
.footer-logo{
    border-radius: 50%;
}
.contacts-link{
    margin-top: 20px;
}
.contact-link{
    margin-right: 10px;
}

.navigation-footer{
    display: flex;
    gap: 24px;
    margin-right: auto;
}
.items-nav{

    margin: 0;
    padding:0;
}
.item-nav{
    list-style: none;
    height: 48px;
    margin: 0;
    padding:0;
}
.item-nav a{
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 20px;

}
.copyright{
    font-size: 16px;
    line-height: 24px;
    color: rgba(132, 145, 160, 1);
}
.list-item:hover{
    border: 2px solid black;
    border-radius: 20%;
    animation-name: list-item_animation;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}
@keyframes list-item_animation {
    from {
        border: 2px solid black;
        border-radius: 20%;
        border-bottom-color: yellow;
        border-top-color: green;
    }
    50% {
        border-left-color: blueviolet;
        border-right-color: aqua;
    }
    75%{
        border-color: black;
    }
    to{
        border-color: blueviolet;
    }
}
.item-nav:hover a{
    opacity: 0.3;
    border: 1px solid black;
}
.list-item:hover .link{
    opacity: 0.5;
    transition: opacity 0.8s;
}
.skillItem:hover{
    background-color: #000000;
    transform: scale(1.5);
    border:  thick double orange;
    transition: all 1s;
    background-color: #000000;
}
.card:hover{
    background-color: #000000;
    padding: 20px;
    transform: scale(1.4);
    border:  1px solid orange;
    transition: all 1s;
}
.aboutMeLink:hover{
    font-size: 32px;
    color:orange;
}
.news{
    padding: 80px 60px;
    border: 10px dotted olive;
    background-color: blueviolet;
    color: white;
}

.newsWrapper{
    padding: 10px;
    border: 5px solid olive;
}
.newCat{
    margin: 0 auto;
    padding: 10px;
    border: 5px solid olive;
    margin-bottom: 10px;
    width: 600px;
}
.newCatTitle{
    text-align: center;
}
.newsImga{
    margin: 0 30%;
    width: 60%;
    height: 60%;
}

@media screen and (max-width: 768px){
    .hero{
        display: flex;
        flex-direction: column;
        background-position: 30% 30%;
    }
    .heroContainerImg{
        margin: auto;
    }
    .workExpCards{
        display: grid;
        grid-template-columns: 1fr;
    }
    .frame27{
        grid-template-columns: 1fr 1fr;
    }
    .frame10{
        display: grid;
        grid-template-columns: 1fr;
    }
    .skill{
        grid-template-columns: 1fr;
    }
    .items-nav{
        width: 154px;
    }
}
@media screen and (max-width: 360px){
    .page{
        width: 100%;
    }
    .workExpCards{
        display: grid;
        grid-template-columns: 1fr;
    }
    .workExpTitle{
        font-size: 34px;
        line-height: 34px;
    }
    .dribbleTitle{
        font-size: 34px;
    }
    .frame10{
        display: grid;
        grid-template-columns: 1fr;
    }
    .skill{
        grid-template-columns: 1fr;
    }
    .skillBox-1{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .frame36{
        grid-template-columns: 1fr;
    }
    .startedForm{
        grid-template-columns: 1fr;

    }
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    .navigation-footer{
        display: flex;
        flex-direction: column;
        margin-top: 48px;
    }
    .heroContainerImg{
        width: 150px;
        height: 150px;
    }
}
